<hr>
<h1><%= current_user.email %>'s Activity</h1>
<ul class="nav nav-tabs">
  <li class='<%= 'active' if params[:tab].nil? %>'>
    <%= link_to("#{@user.posts.size} posts", user_path(@user)) %>
  </li>
  <li class='<%= 'active' if params[:tab] == 'replies' %>'>
    <%= link_to("#{@user.replies.size} replies", user_path(@user, tab: 'replies')) %>
  </li>
</ul>
<% if params[:tab].nil? %>
    <%= render 'shared/show_posts', posts: @user.posts %>
<% else %>
  <% @user.replies.each do |reply| %>
    <%= render 'shared/show_reply', reply: reply, user: @user, show_post: true %>
  <% end %>
<% end %>
