<div class="row">
  <div class='span8 well'>
    <% unless @post %>
      replied to: <%= link_to reply.post.title, post_path(reply.post)%> with:
    <% end %>
    "<%= sanitize reply.content %>"<br />
    <%= image_tag avatar_url(reply.user) %> <%= link_to "#{reply.user.email}", user_path(reply.user) %> at <%= reply.created_at %> 
  </div>
</div>
