<div class="row">
  <div class="span8 well">
    <h2><%= post.title %></h2>
      <p class="content"><%= post.content %></p>
      <hr class="black"/>
      <ul>
        <li>
          <%= image_tag avatar_url(post.user) %> <%= post.user.email %>
        </li>
        <li>
          <small>on <%= post.created_at %></small>
        </li>
      </ul>
  </div>
</div>
<p>
  <% post.replies.each do |reply| %>
    <%= render 'shared/show_reply', reply: reply, user: current_user, post: post %>
  <% end %>

  <div class="well">
    <%= form_for [post, @reply] do |f| %>
      <%= render 'shared/errors', object: @reply_errors %>

      <%= render 'replies/form', f: f %>
    <% end %> 
  </div>
</p>
