<div class="row">
  <div class="span8 well">
    <h2><%= post.title %></h2>
      <p class="content"><%= post.content %></p>
      <hr class="black"/>
      <ul>
        <li>
          <%= image_tag avatar_url(post.user) %> <%= post.user.email %>
        </li>
        <li>
          <small>on <%= post.created_at %></small>
        </li>
      </ul>
  </div>
</div>
<p>
  <ul id="replies">
    <% post.replies.each do |reply| %>
      <li>
        <%= render 'shared/show_reply', reply: reply, user: reply.user %>
      </li>
    <% end %>
  </ul>

  <div class="well" id="reply_form">
    <%= render 'replies/form', reply: @reply, post: post, reply_errors: @reply_errors %>
  </div>
</p>
